body {
	background-image: url(bg.gif);
	margin: 0;
	font-family: 'Muli', sans-serif;
}

header {
	width: 100%;
	height: 60px;
	background-color: black;
	position: fixed;
	z-index: 2;
}

header h1 {
	font-family: 'Exo', sans-serif;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 5px;
	color: white;
}

h1 {
	text-align: center;
}

nav {
	background-color: white;
	height: 20px;
}

nav ul {
	list-style: none;
	color: black;
	padding: 0;
	padding-top: 3px;
	margin: 0 auto;
	text-align: center;
}

nav li {
	display: inline;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: lightblue;
	margin-top: 3px;
}

nav li:active {
	background-color: #f7cac9;
}

a {
	text-decoration: none;
	color: 	#666666;
}

content {
	display: flex;
	margin-top: 75px;
	position: absolute;
	z-index: 1;
	flex-direction: column;
	align-items: center;
}

article {
	margin-bottom: 50px;
	
	justify-content: center;
	text-align: center;
}

article:hover img{
	box-shadow: 0px 0px 20px #888888;
}

article span {
	margin-top: 5px;
}

article span:hover {
	color: blue;
}

img {
	height: 100%;
	width: 100%;
	max-width: 350px;
	max-height: 300px;
	border-radius: 7px;
}

aside img {
	border-radius: 0px;
}

aside {
	margin-bottom: 20px;
}

aside:hover {
	transform: rotate(99999999999999999999999999999999999999deg);
	opacity: 0;
	transition: 60s;
}

h2 {
	text-align: center;
	margin: 10px 0px 10px 0px;
}

p {
	margin: 0;
}

.article h2 {
	margin-top: 40px;
	margin-bottom: 10px;
}

.article p {
	line-height: 22px;
}

.article {
	margin-bottom: 60px;
	background-color: rgba(25, 25, 25, 0.1);
	padding: 20px;
	border-radius: 12px;
	display: inline;
}

#error {
	font-size: 5em;
}
@media screen and (min-width: 480px) {
	content {
		flex-direction: row;
		width: 100%;
	}
	.articles {
		display: flex;
	 	flex-wrap: wrap;
	 	justify-content: space-around;
	 	flex-grow: 2;
	}
    article {
    	height: 200px;
    	width: 400px;
        margin-left: 8px;
        text-align: left;
        margin-bottom: 150px;
    }
    aside {
    	align-items: flex-end;
    }
    img {
    	height: 100%;
	    width: 100%;
    }
    aside {
    	order: 5;
    	min-width: 336px;
    	min-height: 280px;
    	align-self: flex-start;
    }
    .article {
    	display: inline;
		margin-left: 70px;
		margin-right: 70px;
		width: initial;
	}
	nav li:hover {
		background-color: #f7cac9;
	}
	#error-img {
		display: flex;
		margin: auto;
		justify-content: center;
	}
}